*{
	margin:0px;
	padding:0px;
	/* background:#393D49; */
}

.wrap-right{
	background:#fff;
}
.edit-wrap{
	
	margin:10px 0px 10px 20px;
	
}
.left{
	float:left;
}
.right{
	float:right;
}