<html>
<head>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/css/base.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/plu/layui/css/layui.css" />
<script src="__PUBLIC__/admin/js/jquery-1.11.1.js"
	type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src='__PUBLIC__/plu/layui/layui.js'></script>
<style type="text/css">
.login-title {
	font-size: 20px;
	font-weight: bold;
	width: 350px;
	margin: 0 0 20px 80px;
}

.login-wrap {
	width: 390px;
	font-family: '微软雅黑';
	margin: 20px 0px 10px 20px;
	margin: 300px auto;
}

body {
	background: #eee;
}
</style>
</head>


<body>
	<div class='login-wrap'>
		<form class='layui-form'>
			<div class='login-title'>myBlog管理员登录</div>
			<dl>
				<dd>
					<div class="layui-form-item">
						<label class="layui-form-label">用户名</label>
						<div class="layui-input-inline">
							<input type="text" name="user" lay-verify="required" required
								placeholder="请输入用户名" autocomplete="off" class="layui-input">
						</div>
					</div>
				</dd>
				<dd>
					<div class="layui-form-item">
						<label class="layui-form-label">密码</label>
						<div class="layui-input-inline">
							<input type="password" name="pwd" lay-verify="required" required
								placeholder="请输入密码" autocomplete="off" class="layui-input">
						</div>
					</div>
				</dd>
				<dd>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<input type='button' class="layui-btn" lay-submit
								lay-filter="login-btn" value='点击登录'>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</dd>
			</dl>
		</form>
	</div>

</body>
<script>
	//Demo
	layui.use('form', function() {
		var form = layui.form();
		//监听提交
		form.on('submit(login-btn)', function(data) {
			$.ajax({
				type : 'post',
				url : '/admin/Login/login/',
				dataType : "text",
				data : JSON.stringify(data.field),
				success : function(data) {
					switch (data) {
					case '1':
						window.location.href = '/admin/';
						break;
					case '0':
						layer.msg('用户名或密码错误!');
						break;
					}
				}
			})
		});
	});
</script>
</html>