
<html>
<head>
<style>
.left{
	float:left;
}
.right{
	float:right;
}
.wrap-top{
		
		background:#393D49;
		border-bottom:5px solid #009688;
		color:#fff;
	}
.wrap-top .layui-nav{
	width:1000px;
		margin:auto;
		cursor:pointer;
}
	.manager-info{
		height:40px;
		line-height:40px;
		margin-right:20px;
	}
	.manager-info span{
		cursor:pointer;
	}
.wrap-top .title{
	height:40px;
	line-height:40px;
	font-size:26px;
	font-family:'微软雅黑';
	margin-left:50px;
}
</style>
</head>
<body>
<div class="wrap-top">

	<ul class="layui-nav">
	<volist name='cateList' id='vo'>
		<li class="layui-nav-item"><a class='{$vo.id}'>{$vo.name}</a></li>
	</volist>
  
</ul>
	</div>
</body>
<script>
function logout(){
	window.location.href='/admin/Login/logout';
}
</script>
</html>
