
<html>
<head>
<style>
.left{
	float:left;
}
.right{
	float:right;
}
.wrap-top{
		
		background:#393D49;
		
		color:#fff;
	}
.wrap-currentnav{
	border-bottom:5px solid #009688;
}
.wrap-top .layui-nav{
	width:1000px;
		margin:auto;
		cursor:pointer;
}
	.manager-info{
		height:40px;
		line-height:40px;
		margin-right:20px;
	}
	.manager-info span{
		cursor:pointer;
	}
.wrap-top .title{
	height:40px;
	line-height:40px;
	font-size:26px;
	font-family:'微软雅黑';
	margin-left:50px;
}

</style>
</head>
<body>
<div class="wrap-top">

	<ul class="layui-nav">
	<li class="layui-nav-item "><a href='__APP__/Index/index/'>myBlog</a></li>
	<volist name='cateList' id='vo'>
		<li class="layui-nav-item <eq name='vo.id' value='$current'>wrap-currentnav</eq>"><a href='__APP__/Index/index/id/{$vo.id}'>{$vo.name}</a></li>
	</volist>
  <li style='float:right;height:60px;line-height:60px;'><span onclick='login()'>登录</span> | <span onclick='register()'>注册</span></li>
</ul>
	
	</div>
</body>
<script>
function login(){
	layui.use('layer', function(){
		  var layer = layui.layer;
		  
		  layer.open({
			  type: 2,
			  title: '用户登录',
			  shadeClose: true,
			  shade: 0.8,
			  area: ['380px', '600px'],
			  offset: '100px',
			  content: '/index.php/Home/Login/index' //iframe的url
			}); 
		});  
	
}
function register(){
	layui.use('layer', function(){
		  var layer = layui.layer;
		  
		  layer.open({
			  type: 2,
			  title: '用户注册',
			  shadeClose: true,
			  shade: 0.8,
			  area: ['450px', '500px'],
			  offset: '100px',
			  content: '/index.php/Home/Login/register' //iframe的url
			}); 
		});  
}
function logout(){
	window.location.href='/admin/Login/logout';
}
</script>
</html>
