<html>
<body>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/register.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plu/layui/css/layui.css" />
<!-- 引入layui.js -->
<script src="__PUBLIC__/admin/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src='__PUBLIC__/plu/layui/layui.js'></script>
<script type="text/javascript" src='__PUBLIC__/home/js/login.js'></script>
</head>
<div id='register' class='layui-form layui-form-pane'>
	<form class="layui-form layui-form-pane" action="">
	 <dl>
		<dd>
			<div class="layui-form-item">
	    		<label class="layui-form-label">用户名</label>
	   			 <div class="layui-input-inline">
	    		  <input type="text" name="user" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
	    		</div>
	  		</div>
		</dd> 
		<dd>
			<div class="layui-form-item">
	    		<label class="layui-form-label">密码</label>
	   			 <div class="layui-input-inline">
	    		  <input type="password" name="pwd" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
	    		</div>
	  		</div>
		</dd> 
		<dd>
		<!-- 单选框写好input之后，除了上面div中 提到的 layui-form 这个class 之外 还需要模块驱动，才能在网页上正常显示，js模块驱动在下面js的部分会说明 -->
			<div class="layui-form-item">
				<label class="layui-form-label">邮箱</label>
				<div class="layui-input-inline">
					<input type="text" name="email" lay-verify="email" placeholder="请输入邮箱地址" autocomplete="off" class="layui-input">
				</div>
			</div>
		</dd>
		<dd>
			<div class="layui-form-item">
				<label class="layui-form-label">单选框</label>
				<div class="layui-input-block">
					<input type="radio" name="sex" value="男" title="男" checked="">
					<input type="radio" name="sex" value="女" title="女">
				</div>
			</div>
		</dd>
		<dd>
			<div class="layui-form-item">
			    <div class="layui-input-block">
			      <button class="layui-btn" lay-submit lay-filter="*">立即注册</button>
			    </div>
		    </div>
		</dd>
	 </dl>
	</form>
</div>

</body>
</html>