<html>
<head>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/css/base.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/plu/layui/css/layui.css" />
<script src="__PUBLIC__/admin/js/jquery-1.11.1.js"
	type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src='__PUBLIC__/plu/layui/layui.js'></script>
<style type="text/css">
.wrap-right {
	margin-left: 200px;
}


.article {
	background: #888;
}

.art_info_wrap{
	margin: 20px 20px 20px 50px;
	width:600px;
}
</style>
</head>


<body>
	<include file="Public:top" />
	<include file="Public:left" />
	<div class="wrap-right">
		<p class="quote">当前位置：文章管理/文章编辑</p>
		<div class='art_info_wrap left'>
			<div class='context-wrap layui-form'>
			<input type='hidden' name='id' value='{$result.id}'/>
			<div class="layui-form-item">
    <label class="layui-form-label">文章标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" value='{$result.title}' autocomplete="off" class="layui-input">
    </div>
  </div>
   <div class="layui-form-item">
    <label class="layui-form-label">栏目分类</label>
    <div class="layui-input-inline">
      <select name="column" lay-verify="required">
      <volist name='list' id='vo'>
      		<eq name='result.cid' value='$vo.id'>
      		<option value='{$vo.id}' selected>{$vo.name}</option>
      		<else/>
      		<option value='{$vo.id}'>{$vo.name}</option>
      		</eq>
        	
        </volist>
      </select>
    </div>
  </div>
			<textarea class="layui-textarea" id="LAY_demo1" style="display: none">  
			{$result.context}
			</textarea>

<br/>
<div class="layui-form-item right">
    <div class="layui-input-inline">
      <input type='button' value='修改文章' class="layui-btn" lay-submit lay-filter="formDemo" />
      <button type="button" class="layui-btn layui-btn-primary" onclick="history.go(-1);">返回</button>
    </div>
  </div>

			<script>
			layui.use(['layedit','form'], function() {
				var layedit = layui.layedit, $ = layui.jquery;
				var form = layui.form();
				//构建一个默认的编辑器
				var index = layedit.build('LAY_demo1');
				
				//监听提交
				  form.on('submit(formDemo)', function(data){
					  
				  	  data.field.context = layedit.getContent(index);	 
					  $.ajax({
						  type:'post',
						  url:'/admin/Article/do_edit',
						  data:JSON.stringify(data.field),
						  success:function(data){
							   switch(data){
							  	case '1':
							  		layer.alert('修改文章成功', {icon: 1},function() {
										location.reload();
									});
							  		break;
							  	case '0':
							  		layer.alert('修改文章失败', {icon: 2},function() {
										location.reload();
									});
							  } 
						  }
					  })
				    return false;
				  });
			});
				
			</script>
		</div>
		</div>
		
	</div>

</body>
</html>