<html>
<head>
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/admin/css/base.css" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/plu/layui/css/layui.css" />
<style type="text/css">
.wrap-right {
	margin-left: 200px;
}

.quote {
	margin:20px 0px 10px 20px;
	padding: 15px;
	line-height: 22px;
	border-left: 5px solid #bbb;
	border-radius: 0 2px 2px 0;
	background-color: #f2f2f2;
}
</style>
</head>


<body>
	<include file="Public:top" />
	<include file="Public:left" />
	<div class="wrap-right">
		<p class="quote">当前位置：栏目管理</p>
	</div>

</body>
</html>